{% extends 'base.html' %}


{% block content %}

<div class="container mt-5">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Item Price</th>

    </tr>
  </thead>
  <tbody>

  {% for data in order.items.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ data.item.title }}</td>
      <td>{{ data.item.price }}</td>
      <td>{{ data.quantity }}</td>
      <td>{{ data.get_total_price }}</td>
    </tr>
  {% endfor %}

  <tr>
    <td>
       Total Price: {{order.get_total_price}}
    </td>
  </tr>

  <tr>
    <td>
      <a class="btn btn-warning float-right" href="{% url  'checkout' %}">Proceed to Checkout</a>
    </td>
  </tr>

  <tr>
    <td>
      <a class="btn btn-primary float-right" href="/products">Continue to Shoping</a>
    </td>
  </tr>

  </tbody>
</table>


</div>


{% endblock content %}